li {
    margin-bottom: 30px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: capitalize;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

li:hover {
    font-size: 30px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}