.my-pokemon-container {
    border: 1px solid black;
    margin-bottom: 5vh
}

.delete-button {
    margin-right: 20px;
    margin-left: 10px;
    border: 2px solid red;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-bottom: 7px;
}

.list-item {
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

li {
    width: 60%;
}
.pokeball-image {
    width: 34px;
    height: 34px;
}